<%= render partial: "form" %>

<h2>Update Discount</h2>
<%= form_with model: @bulk_discounts, url: merchant_bulk_discount_path(@merchant, @bulk_discount), method: :patch, local: true do |f| %>
  <%= f.label :percentage_discount, "Percentage discount"  %>
  <%= f.number_field :percentage_discount, value: @bulk_discount.percentage_discount, required: true %>

  <%= f.label :quantity_threshold, "Quantity threshold" %>
  <%= f.number_field :quantity_threshold, value: @bulk_discount.quantity_threshold, required: true %>

  <%= f.button "Update Discount" %>
<% end %>
