<%= render partial: "form" %>
<h1>Discount #<%=@bulk_discount.id %>'s Information</h1>
<p>Percentage off: <%=@bulk_discount.percentage_discount %></p>
<p>Minimum number of Items: <%=@bulk_discount.quantity_threshold %></p>
<p><%= link_to 'Edit Discount', edit_merchant_bulk_discount_path(@merchant, @bulk_discount)%>  </p>